
  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f0f1f4;
    font-family: 'Arial', sans-serif;
  }

  .cta {
    font-family: 'Arial', sans-serif;    
    font-size: 30px;
    font-weight: 850;
    margin-top: 20px;
    text-align: center;
  }

  .auth-header {
    padding-bottom: 20px;
  }

  .auth-body {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    border-radius: 0.375rem;
    min-height: 400px;
  }

  .auth-pane {
    width: 55%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 0.375rem;
    max-width: 475px;
    min-width: 325px;
  }

  .form-fields {
    display: flex;
    flex-direction: column;
  }

  .auth-button {
    background-color: var(--r-purple);
    border-radius: 0.375rem;
    color: #e7e4ec;
    text-align: center;
    box-shadow: none;
    margin-top: 10px;
    width: 100%;
    border:none;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .auth-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #4b5563;
    font-weight: 550;
  }

  .auth-form {
    background-color: white;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 0.375rem;
    font-size: .875rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .logo {
    width: 50px;
  }

  .auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #email, #password {
    margin-top: 5px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .error-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50px;
    margin-top: 20px;
    color: #e3414a;
  }