.form-page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 10vh; */
    padding-bottom: 10%;
    box-sizing: border-box;
    background-color: #F3F4F6;
    position: relative;
}

.fp-account {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 20px;
}

.fp-logo {
    height: 80%;
    padding-left: 20px;
}

.form-button {
    padding-right: 20px;
}

.form-nav {
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F4F6;
    /* padding-right: 50px;
    padding-left: 50px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.form-nav img {
    height: 40px;
}

.form-page-nav {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #0E0A1E;
}

.form-nav button {
    padding-top: 9px;
    padding-bottom: 9px;
    width: 125px;
    /* margin-right: 10px; */
}

.added-banner-wrap {
    width: 100%;
    height: 10%;
}

.form-nav-left {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    color: #45286B;
}

.form-nav-left div:hover {
    cursor: pointer;
}

.form-nav-selected {
    font-weight: 800;
    border-bottom: 1px solid black;
}

.form-nav-item:hover {
    /* font-weight: 800; */
    border-bottom: 1px solid black;
}