.create-forms-page-wrapper {
    width: 100vw;
    height: 100vh;
    /* align-items: center; */
}

.fc-banner-wrapper {
    height :50px;
    align-items: center;
}

.create-pane-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* border: 3px solid green; */
    margin-top: 5%;
    /* margin-bottom: 5%; */
    /* border: 1px solid black; */
}

/* .create-forms-page-wrapper div {
    border: 1px solid red;
} */

.fc-input-pane button {
    width: 256px;
}

.fc-input-pane input {
    width: 250px;
    margin-top: 10px;
    height: 25px;
}

.fc-input-pane textarea {
    width: 250px;
    margin-top: 10px;
}

.fc-input-pane {
    color: #4b5563;
    font-size: 12px;
    font-weight: 400;
}

.fc-large {
    font-size: 24px;
    margin-bottom: 10px;
}

.fc-large, .fc-small {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.fc-x {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-right: 10px;
    color: #0E0A1E;
}

.fx-x * {
    color: #0E0A1E;
}

.fc-img-pane {
    width: 250px;
}

.fc-df-image-wrap {
    position: relative;
}

.fc-df-txt {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    width: 80%;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fc-follow-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.fc-cta {
    font-size: medium;
    display: flex;
    gap: 10px;
}