.si-wrapper {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.si-contents-wrapper {
    width: 80%;
    margin: 25px 0px;
}


/* .auth-form {
    background-color: white;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    font-size: .875rem;
    
  } */

.si-input {
    display: flex;
    justify-content: space-between;
}

.si-input-radio  {
    margin-left: 28%;
}

.si-input-radio label  {
    margin-left: 5%;
}

.si-input label {
    width: 30%;
}

.si-input input {
    width: 70%;
}

.si-text-input {
    margin-bottom: 20px;
}

.si-text-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.si-contents-wrapper .si-input-radio:first-of-type {
    margin-bottom: 10px;
}