.detail-wrapper {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    gap: 15px;
    position: absolute;
    top: 75%;
    width: 90%;
    border-radius: 0.375rem;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.detail-title {
    color: #1F2937;
    font-size: 20px;
    width: 100%;
    display: flex;
    /* margin-right: auto;
    margin-left: auto;
    text-align: center; */
    justify-content: space-around;
}

/* .detail-wrapper div {
    border: black solid 1px;
} */

.detail-bar {
    display: flex;
    justify-content: space-around;
    color: #4B5563;
    font-size: 10px;
    align-items: center;
}

.attending, .maybe, .declined {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;
}

.attending {
    color: #09A96F;
}

.maybe {
    color: #FFB875;
}

.declined {
    color: #E3414B;
}

.form-status {
    color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-status > span {
    /* border: black solid 1px; */
    /* width: 30% */
}

.form-delete-icon {
    margin-left: 13px;
}

.form-edit-icon {
    margin-right: 13px;
}

.detail-share-icon {
    position: absolute;
    margin-left: 92%;
    display: flex;
    justify-content: flex-end;
}

.detail-share-icon:hover {
    cursor: pointer;
}

.detail-share-icon svg {
    margin-right: 15px;
    color: #551A8B;
}

.privacy-toggle {
    color: #4B5563;
}