
.nav-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: fixed;
    z-index: 100;
    background-color: #0E0A1E;
    justify-content: space-around;
    height: 80px;
    overflow: hidden;
}

/* .nav-wrapper div {
    border: 1px solid black;
} */

.nav-wrapper button {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-left, .nav-right, .nav-mid {
    width: 30vw;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-weight: 550;
    height: 100%;
    font-size: larger;
}

.nav-logo {
    height: 40px;
}

.nav-left {

}

.nav-mid {
    justify-content: center;
}
.nav-right {
    justify-content: flex-end;
}

.nav-right a {
    color: #F5F7FB;
}

.bthere-nav-logo-text {
    height: 125px;
    margin-left: -10px;
}

.nav-button {
    background-color: #0994a9;
}