.form-config-panel-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0E0A1E;
    color: #D1D5DB;
    min-width: 145px;
    /* padding-left: 20px;
    padding-top: 20px; */
    /* padding-top: 20px; */
}

.sp-nav-div {
    width: 100%;
    padding-left: 10%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sp-nav-div:hover {
    background-color: white;
    cursor: pointer;
    color: #0E0A1E;
}

.sp-nav-div-selected {
    background-color: white;
    cursor: pointer;
    color: #0E0A1E;
}

.sp-nav-div:first-child {
    margin-top: 30px;
}

.sp-divider {
    border: none;
    height: 2px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #D1D5DB;
}

.banner-img {
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.banner-img-wrapper {
    height: 80px;
}

.sp-form-title {
    padding-top: 40px;
    font-weight: 600;
    padding-left: 5%;
}

.sp-form-title:hover{
    background-color: #0E0A1E;
    cursor: unset;
    color: #D1D5DB;
}