.response-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    padding-top: 50px;
}

.no-gap {
    gap: 0px;
}

.restriction-message, .restricted {
    text-align: center;
}

.restriction-message {
    color: #4B5563;
}

.email-password {
    text-align: center;
    color: #4B5563;
}

.restricted {
    color: red;
    font-weight: 600;
}

.restriction-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 500px;
    align-items: center;
}

.restriction-form button {
    width: 300px;
}

.restriction-form input {
    width: 300px;
}

.form-submit-error {
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
}