/* TODO Add site wide styles */

@import 'reset.css';

:root {
    --r-purple: #45286b;
    --auth-label-font: font
}

button, a {
    cursor: pointer;
  }
  

/* body {
    width: 100vw;
    height: 100vh
} */