/* TODO Add site wide styles */

@import 'reset.css';

:root {
    --r-purple: #45286b;
    --auth-label-font: font
    --rad: 0.375rem;
}

button, a {
    cursor: pointer;
  }

button {
    background-color: var(--r-purple);
    border-radius: 0.375rem;
    color: #e7e4ec;
    text-align: center;
    box-shadow: none;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
}

div {
    font-family: 'Arial', sans-serif;
}
  

/* body {
    width: 100vw;
    height: 100vh
} */