.row-wrap {
    width: 100%;

}

.sl-cell-narrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-delete-icon {
    color: #E2414B;
}

.contact-delete-icon:hover {
    cursor: pointer;
}