.fc-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.fc-banner {
    height: 80px;
}

.fc-side-panel {
    width: 150px;
    /* min-height: 100%; */
    background-color: #0E0A1E;
}

.fc-sub-header {
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
}

.fc-question-list {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F3F4F6;
    color: #4B5563;
    height: 100%;
    box-sizing: border-box;
}

.fc-alternating-pane {
    width: calc(100% - 175px);
    background-color: #F3F4F6;
    display:flex;
    justify-content: center;
    padding-top: 50px;
}

.fc-contents-wrapper {
    /* min-height: calc(100% - 80px); */
}

/* @media screen and (max-width: 751px) {
    .fc-side-panel {
        display: none;
    }
}

@media screen and (min-width: 752px) {
    .fc-wrapper .form-nav {
        display: none;
    }
} */