.fc-wrapper {
    width: 100vw;
    height: 100vh;
}

.fc-banner {
    height: 8%;
}

.fc-side-panel {
    width: 15%;
    min-height: 100%;
}

.fc-sub-header {
    display: flex;
    /* border: black solid 1px; */
    min-height: 92%;
    height: fit-content;
}

.fc-question-list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    background-color: #F3F4F6;
    padding-bottom: 50px;
    color: #4B5563;
}