.logged-in-banner-wrapper {
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: #0E0A1E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logged-in-banner-wrapper img {
    height: 40px;
}

.logged-in-banner-wrapper a {
    height: 60%;
}

.ban-email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-right: 15px;
}

.ban-email button {
    height: 20px;
}

.li-banner-nav {
    display: flex;
    height: 100%;
}

.li-banner-nav-option  {
    color: #D1D5DB;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.li-banner-nav-icon {
    width: 175px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}

.li-banner-nav-icon a {
    height: fit-content;
}

.li-banner-nav-option:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #0E0A1E;
}

.li-banner-nav-icon:hover {
    cursor: pointer;
}