.logged-in-banner-wrapper {
    width: 100%;
    height: 100%;
    background-color: #0E0A1E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logged-in-banner-wrapper img {
    height: 100%;
}

.logged-in-banner-wrapper a {
    height: 60%;
}

.logged-in-banner-wrapper div {
    padding-right: 20px;
}

.ban-email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.ban-email button {
    height: 20px;
}

.li-banner-nav {
    display: flex;   
}

.li-banner-nav-option {
    color: #D1D5DB;
}

.li-banner-nav-option:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #0E0A1E;
}